@model IEnumerable<University.Portal.Entites.CourseEntites.Course>

@{
    ViewBag.Title = "CourseRegistration";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
    List<int> registerdcourses = ViewBag.registerdcourses as List<int>;
}


@section ContentHeader{

    <h1>
        Student
        <small>Course Registration</small>
    </h1>


}
<div class="row">


    <div class="col-md-12">
        <h4>Fall-Semister 2018-2019</h4>
        <div class="table-responsive">


            <table id="mytable" class="table table-bordred table-striped">

                <thead>

                <th>Select</th>
                <th>Course ID</th>
                <th>Course Name</th>
                <th>Credit</th>


                </thead>


                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                           
                            
                         
                            @if (registerdcourses.Contains(item.CourseId))
                            {
                              
                                   <td><input type="checkbox" class="chcktbl1" value="@item.CourseId" checked="checked"/></td>
                            }
                            else
                            {
                                <td>
                                    <input type="checkbox" class="chcktbl1" value="@item.CourseId" />

                                </td>

                                   

                             }
                               

                            <td>
                                  
                                @Html.DisplayFor(modelItem => item.CourseCode)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CourseName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Credit)
                            </td>

                        </tr>
                    }







                </tbody>

            </table>

        </div>


@section Scripts{
        
        <script>
            $(".chcktbl1").click(function () {

                var cid = $(this).val();
                //alert(cid);

                $.ajax({
                    method: "POST",
                    url: "/Student/AddCourse",
                    datatype: "json",
                    contentType: 'application/json; charset=utf-8',
                     data: JSON.stringify({ CourseID: cid }),
                    // data: {'CourseID': cid },

                   
                    success: function (response) {
                       
                        alert(response);
                           
                    },
                    error: function (response) {
                       
                            alert("Error!!!!");
                        
                    }
                });

            });
        </script>
        
        
        
   }
