@model University.Portal.Entites.DegreeEntities.Degree

@{
    ViewBag.Title = "UpdateDegree";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<h2>Degree Update</h2>

@ViewBag.Success

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.DegreeId)
    @Html.HiddenFor(model => model.DepartmentId)

    <div class="form-group">
        @Html.LabelFor(model => model.DegreeName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-3">
            @Html.EditorFor(model => model.DegreeName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.DegreeName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}
